.deck-container{
    text-align:center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.deck-pokemon{
    margin: 2rem;
}

.deck-image{
    padding-bottom: 0.7rem;
}

.deck-title{
    font-weight: bolder;
    margin: 2rem;
    text-align: center;
}

.deck-button{
    text-align: center;
}