.footer-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.footer-title{
    
    background-color: lightcoral;
    text-align: center;
    
}

#footer{
    height:5%;
    width:100%
}