.inscription-container{
    padding-top:4.5rem;
    display: flex;
    justify-content: center;
    padding:3%;
    padding-top:5%;
    flex-grow:1;
}

.inscription-title{
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
}

.inscription-modal{
    display: flex;
 
}
.inscription-input-label{
    margin-top: 1em;
    text-align: center;
}
.inscription-swal-timer{
    color: #3383D2
}

@media (max-width: 500PX){

    .inscription-container{
        margin-top: 10.5rem;
        
    }
}



