.inscription-container{
    display: flex;
    justify-content: center;
    margin-top:2em
}

.inscription-title{
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
}

.inscription-modal{
    display: flex;
 
}
.inscription-input-label{
    margin-top: 1em;
    text-align: center;
}

