.types-title{
    text-align:center
}

.types-pokemon{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(45, 106, 180);   
}