.pokemons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4fefe;
}

.pokemon-container{
    text-align:center;
    justify-content: center;
    width:fit-content;
    height:fit-content;
    border: black 1px solid;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: lightcoral;
    image-rendering: auto;
}

.pokemon-img{
    padding-top: 1rem;
    cursor: pointer
}

.pokemon-nom{
    padding-top:0.5rem;
    font-weight: bold;
    cursor: pointer;
    margin:0;
    padding-bottom: 0.5rem;
}

.pokemon-title{
    display: flex;
    gap: 35%;
    text-align: center;
    justify-content: flex-end;
    
}

.pokemon-icon{
    cursor:pointer;
    padding:0;
    border: white;
    background-color: transparent;
}
.MuiSvgIcon-root{
    background-color: none;
    color:blue
}
h3{
    margin:0
}