.pokemons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4fefe;
}

.pokemon-container{
    text-align:center;
    justify-content: center;
    width:fit-content;
    height:fit-content;
    border: black 1px solid;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: lightcoral;
    image-rendering: auto;
}