.nav-menu {
    margin: 0.5rem;
   
}

.navbar{
    background-color: lightcoral;
    justify-content: space-between;
    padding: auto;
}


.nav-search{
    background-color: white;
   
}

.nav-element-right{
    padding-bottom: 1.5rem;
}

